In [1]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : 
        break
    value = float(inp)
    total = total + value     
    count = count + 1
average = total / count
print('Average:', average)

Enter a number: 22
Enter a number: 1
Enter a number: 1.5
Enter a number: done
Average: 8.166666666666666

In [2]:
smallest = None
for value in [9, 41, 12, 3, 74, 15,1] : 
     if smallest is None : 
         smallest = value   
     elif value > smallest : 
         smallest = value   
     #print(smallest, value)
print('Gratest element is :', smallest)

Gratest element is : 74

In [3]:
## Tuple - immutable
example_tuple = (2, 3, 4, 5)
print('A tuple:', example_tuple)
print('Third element of tuple:', example_tuple[2])

A tuple: (2, 3, 4, 5)
Third element of tuple: 4

In [4]:
a=[(1,2,3,4,5)] 
a[0]=20 
a[3]=8 
print(a)

IndexError: list assignment index out of range

In [5]:
example_list = []
example_list.append(12)
example_list[0] = {1:3,'hello':[1,2,4]}
print('Modified list:', example_list)
print(len(example_list))

Modified list: [{1: 3, 'hello': [1, 2, 4]}]
1

In [6]:
## String - immutable, tuple of characters
text = "ABCD  \t    /n\n  EFGH"
print('Number of characters in text', len(text))
print(text)

Number of characters in text 20
ABCD  	    /n
  EFGH

In [7]:
## Set - unique unordered elements
example_set = set([1,2,2,2,2,4,5,6,6,6,3,5])
print('A set:', example_set)

A set: {1, 2, 3, 4, 5, 6}

In [8]:
d = { "foo" : 1, "bar" : 2,"brand" : ['maruti', 'toyota','hyuNdai','honda'] }
print(d["brand"][2][3])

N

In [9]:
d = { "foo" : 1, "bar" : 2, ('maruti', 'toyota','hyundai','honda'):"brand" }
print(d["bar"])
print(d.keys()) 
print(d.values()) 
print(d.items())

2
dict_keys(['foo', 'bar', ('maruti', 'toyota', 'hyundai', 'honda')])
dict_values([1, 2, 'brand'])
dict_items([('foo', 1), ('bar', 2), (('maruti', 'toyota', 'hyundai', 'honda'), 'brand')])

In [10]:
some_dict = {}
print(type(some_dict))

<class 'dict'>

In [11]:
some_dict = {}
some_dict["foo"] = "yow!"
some_dict["brand"] = "Maruti"
print(some_dict )

{'foo': 'yow!', 'brand': 'Maruti'}

In [12]:
tu = (23, 'abc', 4.56, (2,[1,2,('hello',1,[1,'how r u',(5,'tEst')])],3), 'def')
tu[3][1][2][2][2][1][1]

'E'

In [13]:
tu[3][1][2][2] = 'hi'

TypeError: 'tuple' object does not support item assignment

In [14]:
tu

(23,
 'abc',
 4.56,
 (2, [1, 2, ('hello', 1, [1, 'how r u', (5, 'tEst')])], 3),
 'def')

In [15]:
a= range(1,5)
for i in a:
    print(i)

1
2
3
4

In [16]:
friends = ['Joseph', 'Glenn', 'Sally']
for i in range(len(friends)) :
    friend = friends[i]
    print('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [17]:
len(tu)

5

In [18]:
a = (1, 2, 3) 
b = (4, 5, 6)

In [19]:
print(id(a))
print(id(b))
print(id(a+b))

2398005070592
2398005090368
2398005523552

In [20]:
a = [1, 2, 3] 
b = [4, 5, 6]
c= a +b
print(id(a))
print(id(b))
print(id(c))
print(a)
print(b)
print(c)

2398009707840
2398009673792
2398009524160
[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [21]:
# Assignment: use append function and add element to list

In [22]:
fruit = 'Banana'
fruit[0] = 'b'

TypeError: 'str' object does not support item assignment

In [23]:
d1={"flag": ["red","white","blue",("hi",[1,2,'how r u'])]}
print(d1['flag'])

['red', 'white', 'blue', ('hi', [1, 2, 'how r u'])]

In [24]:
d1={
    "flag":["d","h","e",("hi",[1,{1:['Happy new{year: thank you}']},2,'hou'])]}
print(d1['flag1'])

KeyError: 'flag1'

In [25]:
print(d1.get('flg'))

None

In [26]:
a = (1, 2, 3)
print(id(a))
b = (4, 5, 6)
print(id(b))
a = a + b
print(id(a))
print(id(b))

2398005061632
2398005063872
2398005523552
2398005063872

In [27]:
a = [1, 2, 3]
print(id(a))
b = [4, 5, 6]
print(id(b))
a = a + b
print(id(a))
print(id(b))
print(a)

2398008972288
2398009707840
2398009458432
2398009707840
[1, 2, 3, 4, 5, 6]

In [28]:
a = [1, 2, 3]
print(id(a))
b = [4, 5, 6]
print(id(b))
a.append(4)
print(id(a))
print(id(b))
print(a)

2398009689280
2398009725760
2398009689280
2398009725760
[1, 2, 3, 4]

In [29]:
slang = {}
slang[1] = 'goodbye'
slang['smashing'] = 'terrific'
slang[5] = ['tired',(1,2,[1],('hi'))]
print(slang)

{1: 'goodbye', 'smashing': 'terrific', 5: ['tired', (1, 2, [1], 'hi')]}

In [30]:
slang.get('mashing')
slang['smashing']

'terrific'

In [31]:
slang = {}
type(slang)

dict

In [32]:
import random
r1 = random.random() # Gives us a random number from [0.0, 1.0
print(r1)
r2 = random.choice([1,2,3,4,5]) # Gives us a random choice from a list
r3 = random.randint(1, 1000) # Gives us a random number in this range
print(r2)
print(r3)

0.9319825958709044
4
190

In [33]:
s1 = "Hello" 
s2 = 'World'
s1 = s1 + s2
s1 = s1 + ' hi'
s1

'HelloWorld hi'

In [34]:
'Hello' * 3

'HelloHelloHello'

In [35]:
a = [1,True,'Hello',[1,2,3],[5,6,'how r u',[7,8,'fine'],['hi',5,False]]]
a[4][4][1]= 'no'
a

[1,
 True,
 'Hello',
 [1, 2, 3],
 [5, 6, 'how r u', [7, 8, 'fine'], ['hi', 'no', False]]]

In [36]:
my_list = [1, 2, 3, 4] 
your_list = [4, 3, 2, 1] 
his_list = [1, 2, 3, 4]
my_dict = {1:1, 2:2, 3:3, 4:4} 
your_dict = {4:4, 3:3, 2:2, 1:1}
print(my_list == your_list)#1
print(my_list == his_list)#2
print(my_dict == your_dict)#3

False
True
True

In [37]:
## Dictionary
example_dictionary = {"A": "APPLE", 
                      "B": "BALL", 
                      "C": "CAT", 
                      "D": "DOLL"}
print('A dictionary:', example_dictionary)
print('Value associated to key C:', example_dictionary['C'])

A dictionary: {'A': 'APPLE', 'B': 'BALL', 'C': 'CAT', 'D': 'DOLL'}
Value associated to key C: CAT

In [38]:
for num in [1,2,3,4,5]:
    print(num**2)
for num in 'computer':
    print(num)

1
4
9
16
25
c
o
m
p
u
t
e
r

In [39]:
x = 2
print('Is 2 < 5?', x < 5)
print('Is 2 == 5?', x == 5)
print('Is 2 < 5 and 2 > 1?', (x < 5) & (x > 1))
if x == 2:
    print('x is equal to 2')

Is 2 < 5? True
Is 2 == 5? False
Is 2 < 5 and 2 > 1? True
x is equal to 2

In [40]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)

['book', 99]

In [41]:
stuff = [1,2]
stuff.append(100)
stuff.append(99)
stuff.append(10)
stuff.append(9)
stuff.sort(reverse=True)
print(stuff)

[100, 99, 10, 9, 2, 1]

In [42]:
stuff = ['a111111','b222222222222222']
stuff.append('1000000000')
stuff.append('99')
stuff.sort()
print(max(stuff))
stuff

b222222222222222

['1000000000', '99', 'a111111', 'b222222222222222']

In [43]:
example_list = ['A', 'B', 'C', 'D', 'E']
## Looping through a list
for element in example_list:
    print("The element in list is:", element)

The element in list is: A
The element in list is: B
The element in list is: C
The element in list is: D
The element in list is: E

In [44]:
total = 0
prices = [2.50, 3.50, 4.50]
for price in prices:
    print('Price is', price) 
    total = total + price
print('total is', total)
average = total/len(prices) 
print('avg is', average)

Price is 2.5
Price is 3.5
Price is 4.5
total is 10.5
avg is 3.5

In [45]:
t = [9, 41, 12, 3, 74, 15]
print(t[1:3])

[41, 12]

In [46]:
print(t[:4])

[9, 41, 12, 3]

In [47]:
print(t[3:])

[3, 74, 15]

In [48]:
print(t[:])

[9, 41, 12, 3, 74, 15]

In [49]:
print(t[-3:])

[3, 74, 15]

In [50]:
print(t[::-1])

[15, 74, 3, 12, 41, 9]

In [51]:
t = [9, 41, 12, 3, 74, 15]
t.sort(reverse=False)
print(t)

[3, 9, 12, 15, 41, 74]

In [52]:
squares = [i**2 for i in t]
print(squares)

[9, 81, 144, 225, 1681, 5476]

In [53]:
squares1 = []
for i in t:
    squares1.append(i**2)
squares1

[9, 81, 144, 225, 1681, 5476]

In [54]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = int(inp)
    total = total + value     
    count = count + 1
average = total / count
print('Average:', average)

Enter a number: 12
Enter a number: 12
Enter a number: 13
Enter a number: 09
Enter a number: 23
Enter a number: done
Average: 13.8

In [55]:
abc = 'With three words'
stuff = abc.split()
print(stuff)

['With', 'three', 'words']

In [56]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)

['book', 99]

In [57]:
abc = 'Withs thrsee wosrds'
stuff = abc.split('s')
print(stuff)
print(len(stuff))

['With', ' thr', 'ee wo', 'rd', '']
5

In [58]:
line = 'From salman.amir@gmail.com Sat Jan  5 09:14:16 2020'
words = line.split()
print(words)
email = words[1]
print(email)
pieces = email.split('@')
print(pieces)
print(pieces[1])

['From', 'salman.amir@gmail.com', 'Sat', 'Jan', '5', '09:14:16', '2020']
salman.amir@gmail.com
['salman.amir', 'gmail.com']
gmail.com

In [59]:
prices = [2.50, 3.50, 4.50] 
for price in prices: 
    print('Price is', price)

Price is 2.5
Price is 3.5
Price is 4.5

In [60]:
a = ['a', 1,[1,3,7,('hi',1)],'''Hello how r u
look at the tiger
i am fine''', 10,('hello', 1, 4)]
a

['a',
 1,
 [1, 3, 7, ('hi', 1)],
 'Hello how r u\nlook at the tiger\ni am fine',
 10,
 ('hello', 1, 4)]

In [61]:
total = 0
prices = [2.50, 3.50, 4.50]
for price in prices:
    print('Price is', price) 
    total = total + price
print('total is', total)
average = total/len(prices) 
print('avg is', average)

Price is 2.5
Price is 3.5
Price is 4.5
total is 10.5
avg is 3.5

In [62]:
print(a[3][14:18])

look

In [63]:
import random
r1 = random.random() # Gives us a random number from [0.0, 1.0
print(r1)
r2 = random.choice([1,2,3,4,5,6,'hi']) # Gives us a random choice from a list
r3 = random.randint(1, 1000) # Gives us a random number in this range
print(r2)
print(r3)

0.20582928058012706
3
19

In [64]:
import random
for i in range(10):
    #print(i)
    ticket = random.randint(1, 1000)
    print(ticket)

847
611
908
254
576
859
820
56
789
150

In [65]:
for i in range(2005, 2017, 2):
    print(i)

2005
2007
2009
2011
2013
2015

In [66]:
menu_prices = {
    'Knackered Spam': 0.50,
    'Pip pip Spam': 1.50, 
    'Squidgy Spam': 2.50, 
    'Smashing Spam': 3.50
}
print(menu_prices.items())
for name, price in menu_prices.items():
    print(name, ': $', price)

dict_items([('Knackered Spam', 0.5), ('Pip pip Spam', 1.5), ('Squidgy Spam', 2.5), ('Smashing Spam', 3.5)])
Knackered Spam : $ 0.5
Pip pip Spam : $ 1.5
Squidgy Spam : $ 2.5
Smashing Spam : $ 3.5

In [69]:
n = 1
num= int(input('Enter the Number'))
while n<= num :
    print(n)
    n+=1

Enter the Number12
1
2
3
4
5
6
7
8
9
10
11
12

In [70]:
x = input("x? ")
y = input("y? ")
print(type(x))

if x < y: 
    print('x is less than y') 
elif x > y: 
    print ('x is greater than y') 
else: 
    print('x and y are equal')

x? 33
y? 43
<class 'str'>
x is less than y

In [71]:
print('Before')
for num in [9, 41, 12, 3, 74, 15] :
    if num > 20: 
        print('Large number',num)
print('After')

Before
Large number 41
Large number 74
After